<app-header>
  
</app-header>

<div class="container-fluid mt-5">
    <div class="row">
      <div class="card" style="width: 18rem;">
        <img *ngIf="researcher?.photo" src="{{url_backend}}/api/upload/img/{{researcher.photo}}" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="input-group">
            <div class="custom-file">
              <input (change)="seleccionarFoto($event)" type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
              <label class="custom-file-label" for="inputGroupFile04">Buscar Foto</label>
            </div>
            <div class="input-group-append">
              <button (click)="subirFoto()" class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Subir</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <div class="card">
            <div class="card-header">
              Datos del Usuario
            </div>
            <div class="card-body">
              <h5 class="card-title">Registro de Investigador Inaigem</h5>
             
              <form>
                
                <div class="form-group">
                    <label for="exampleFormControlInput1">Nombre</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1"   name="nombre" [(ngModel)]="usuario2.nombre">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Primer Apellido</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"  name="primerApellido" [(ngModel)]="usuario2.primerApellido">
                </div>
            
                <div class="form-group">
                    <label for="exampleFormControlInput1">Segundo Apellido</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"  name="segundoApellido" [(ngModel)]="usuario2.segundoApellido">
                </div>
            
                <div class="form-group">
                    <label for="exampleFormControlInput1">Email</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"  name="email" [(ngModel)]="usuario2.email">
                </div>

                <div class="form-group">
                  <label for="exampleFormControlInput1">Telefono</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" name="telefono" [(ngModel)]="usuario2.telefono">
              </div>

             <!--   <button class="btn btn-primary" role="button" (click)='crearResearcher()' *ngIf="!researcher.id else elseBlock" [disabled]="!researcherForm.form.valid">Crear</button>

                <ng-template #elseBlock>
                  <button class="btn btn-success" role="button" (click)='actualizarUsuario()' [disabled]="!researcherForm.form.valid">Editar</button>
                </ng-template>-->
              
              </form>
            </div>
          </div>
      </div>

      <div class="col-3">
        <div class="card">
            <div class="card-header">
              Datos de Investigador
            </div>
            <div class="card-body">
              <h5 class="card-title">Registro de Investigador Inaigem</h5>
             
              <form #researcherForm="ngForm">
                
                <div class="form-group">
                    <label for="exampleFormControlInput1">Último Grado Academico</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1"  placeholder="Ejm. Master en Telecomunicaciones" name="maxDegree" [(ngModel)]="researcher.maxDegree">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Perfil CTI Vitae</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Desde Concytec" name="profileCTIVitae" [(ngModel)]="researcher.profileCTIVitae">
                </div>
            
                <div class="form-group">
                    <label for="exampleFormControlInput1">Perfil Google Scholar</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Desde Google Scholar" name="profileGoogleScholar" [(ngModel)]="researcher.profileGoogleScholar">
                </div>
            
                <div class="form-group">
                    <label for="exampleFormControlInput1">Identificador ORCID</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Desde ORCID" name="profileOrcid" [(ngModel)]="researcher.profileOrcid">
                </div>

                <button class="btn btn-primary" role="button" (click)='crearResearcher()' *ngIf="!researcher.id else elseBlock" [disabled]="!researcherForm.form.valid">Crear</button>

                <ng-template #elseBlock>
                  <button class="btn btn-success" role="button" (click)='actualizarUsuario()' [disabled]="!researcherForm.form.valid">Editar</button>
                </ng-template>
              
              </form>
            </div>
          </div>
      </div>

      <div class="col-6">

        <div class="card">
          <div class="card-header">
            Publicaciones
          </div>
          <div class="card-body">
            
            <table class="table table-sm">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellido</th>
                  <th scope="col">Dirección</th>
                </tr>
              </thead>
              <tbody>
                
                <tr *ngFor="let pub of publications">
                  <td>{{countPublication}}</td>
                  <td>{{pub.authors}}</td>
                  <td>{{pub.title}}</td>
                  <td>{{pub.journal}}</td>
                  <td>{{pub.doiUrl}}</td>
                  <td><Button class="btn btn-primary">Editar</Button></td>
                  <td><Button class="btn btn-warning">Eliminar</Button></td>
                </tr>

              </tbody>
            </table>

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              Agregar Publicación
            </button>
          </div>
        </div>
       

      </div>

        <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                              
                  <form>
                    
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Autores</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Ejm. Yarleque, C.,Vuille, M, Elison Timm"  name="authors" [(ngModel)]="publication.authors">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Titulo de la publicación</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Ejm. Projections of future disappearance of the Quelccaya Ice Cap in the Central Andes"  name="title" [(ngModel)]="publication.title">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Journal</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nature Climate Change" name="journal" [(ngModel)]="publication.journal">
                    </div>
                

                    <div class="form-group">
                      <label for="inputSector">Estado de publicación</label>
                      <select class="form-control" id="inputSector" [(ngModel)]="publication.type" name="type">
                        <option value="preparatoria" >Publicación en preparación</option>
                        <option value="arbitrada" >Publicación arbitradas</option>
                        <option value="otras" >Otras publicaciones</option>
                       
                      </select> 
                  </div>
                
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Dirección Web</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Ejm. https://www.nature.com/articles/s41598-018-33698-z" name="doiUrl" [(ngModel)]="publication.doiUrl">
                    </div>
                  
                    
                  </form>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              <button type="button" (click)="crearPublication()" data-dismiss="modal" class="btn btn-primary">Crear Publicación</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


