

<div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="card">
            <div class="card-header">
              Featured
            </div>
            <div class="card-body">
              <h5 class="card-title">Registro de Investigador Inaigem</h5>
             
              <form>
                <div class="form-group">
                  <label for="exampleFormControlInput1">Name</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="name" [(ngModel)]="researcher.name" >
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Lastname</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="lastname" [(ngModel)]="researcher.lastname">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">MaxDegree</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="maxDegree" [(ngModel)]="researcher.maxDegree">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Photo</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="photo" [(ngModel)]="researcher.photo">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Email</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="email" [(ngModel)]="researcher.email">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Cellphone</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="cellphone" [(ngModel)]="researcher.cellphone">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">CTI Vitae</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="profileCTIVitae" [(ngModel)]="researcher.profileCTIVitae">
                </div>
            
                <div class="form-group">
                    <label for="exampleFormControlInput1">Google Scholar</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="profileGoogleScholar" [(ngModel)]="researcher.profileGoogleScholar">
                </div>
            
                <div class="form-group">
                    <label for="exampleFormControlInput1">ORCID</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="profileOrcid" [(ngModel)]="researcher.profileOrcid">
                </div>
              
                <button role="button"  (click)="crearResearcher()" class="btn btn-primary">Crear</button>
                
              </form>
            </div>
          </div>
      </div>
      <div class="col-sm">

        <div class="card">
          <div class="card-header">
            Investigadores Registrados
          </div>
          <div class="card-body">
            
            <table class="table table-sm">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellido</th>
                  <th scope="col">Dirección</th>
                </tr>
              </thead>
              <tbody>
                
                <tr *ngFor="let researcher of researchers">
                  <th scope="row">{{researcher.id}}</th>
                  <td>{{researcher.name}}</td>
                  <td>{{researcher.lastname}}</td>
                  <td>{{researcher.maxDegree}}</td>
                </tr>

              </tbody>
            </table>

            <a href="#" class="btn btn-primary">Registrar Investigador</a>
          </div>
        </div>
       

      </div>
      
    </div>
  </div>


